.tax-info {
  display: none !important;
}

.product-screen .btn,
.pos-topheader .btn,
.leftpane .btn {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}

.product-screen .order-container,
.leftpane .order-container {
  font-weight: bold !important;
  font-size: 1.2rem;
}

.numpad-price {
  visibility: hidden !important;
  pointer-events: none !important;
}
.o_colorlist_item_numpad_color_1 {
  top: -100%;
  height: 200%;
}
//option to remove the logo from the POS receipt
// .pos-receipt-logo {
//   display: none !important;
// }
