.tax-info {
  display: none !important;
}

.product-screen .btn,
.pos-topheader .btn,
.leftpane .btn {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}

/* Make Note button font bigger */
.product-screen .control-buttons button {
  font-size: 1.1rem !important;
}

/* Make customer note display bigger */
.product-screen .customer-note {
  font-size: 1.6rem !important;
  color: black !important;
  text-align: center !important;
  font-family:
    system-ui,
    -apple-system,
    sans-serif !important;
  background: none !important;
  border-bottom: 0.1rem dotted #000 !important;
}

/* Receipt screen note styling */
.receipt-screen .order-container .mt-1 {
  font-size: 1.6rem !important;
  font: bold !important;
  text-align: center !important;
  font-family:
    system-ui,
    -apple-system,
    sans-serif !important;
  border-bottom: 0.1rem dotted #000 !important;
}

.product-screen .order-container,
.leftpane .order-container {
  font-weight: bold !important;
  font-size: 1.2rem;
}

.numpad-price {
  visibility: hidden !important;
  pointer-events: none !important;
}
.o_colorlist_item_numpad_color_1 {
  top: -100%;
  height: 200%;
}

.pos-receipt-taxes,
.paymentlines,
.receipt-change {
  display: none !important;
}

.receipt-total {
  font-size: 1.2rem;
  border-top: 3px solid #000 !important;
  padding-top: 10px !important;
  margin-top: 10px !important;
}

.w-50.text-end {
  display: none !important;
}

.w-50.text-start {
  width: 100% !important;
  text-align: center !important;
  display: block !important;
}

.w-50.text-start .pos-config-name {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  display: block !important;
  width: 100% !important;
}

.pos-receipt .orderline {
  border-bottom: 0.1rem dotted #000 !important;
}

.pos-receipt .product-name {
  font-family:
    system-ui,
    -apple-system,
    sans-serif !important;
  font-size: 1rem !important;
}

.pos-receipt .font-monospace {
  font-family:
    system-ui,
    -apple-system,
    sans-serif !important;
}

.pos-receipt-order-data.text-center.pt-3 {
  display: none !important;
}
